.signup, 
.login {
  width: 350px;
  margin: 0 auto;
  text-align: center;
}

.signup-title,
.login-title {
  color: #333;
  margin: 1rem 0;
  margin-top: 4rem;
}

.signup-form,
.login-form {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f4f4f4;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.1em;
}

input[type="text"],
input[type="password"] {
  width: 80%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
